<div class="container">
  <div [hidden]="submitted">
    <h1>Hukuk Onayı</h1>
    <form (ngSubmit)="onSubmit()" #talepForm="ngForm" class="ui form">
      <div class="control-group">
        <label class="control-label">Şablon</label>
        <div class="controls">
          <input
            class="form-control"
            type="text"
            [readonly]="true"
            class="form-control"
            type="text"
            id="sablon"
            [(ngModel)]="model.sablon"
            name="sablon"
            #name="ngModel"
          />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Turkcell Grup Şirketi</label>
        <div class="controls">
          <input
            class="form-control"
            type="text"
            readonly
            [readonly]="true"
            class="form-control"
            type="text"
            id="grupSirketi"
            [(ngModel)]="model.grupSirketi"
            name="grupSirketi"
            #name="ngModel"
          />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Karşı taraf ünvanı</label>
        <div class="controls">
          <input
            class="form-control"
            type="text"
            [readonly]="true"
            class="form-control"
            type="text"
            id="karsiTarafUnvani"
            [(ngModel)]="model.karsiTarafUnvani"
            name="karsiTarafUnvani"
            #name="ngModel"
          />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Sözleşme Başlangıç Tarihi</label>
        <div class="controls">
          <input
            [readonly]="true"
            class="form-control"
            type="date"
            id="sozlesmeBaslangicTarihi"
            [(ngModel)]="model.sozlesmeBaslangicTarihi"
            name="sozlesmeBaslangicTarihi"
            #name="ngModel"
          />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Sözleşme Bitiş Tarihi</label>
        <div class="controls">
          <input
            [readonly]="true"
            class="form-control"
            type="date"
            id="sozlesmeBitisTarihi"
            [(ngModel)]="model.sozlesmeBitisTarihi"
            name="sozlesmeBitisTarihi"
            #name="ngModel"
          />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Bedelli</label>
        <div class="controls">
          <input
            [readonly]="true"
            class="form-control"
            type="text"
            id="bedelli"
            [(ngModel)]="model.bedelli"
            name="bedelli"
            #name="ngModel"
          />
        </div>
      </div>
      <div *ngIf="model.bedelli == 'Evet'" >
        <div class="control-group">
          <label class="control-label">Sözleşme Bedeli</label>
          <div class="controls">
            <input
              [readonly]="true"
              class="form-control"
              type="number"
              min="0"
              id="sozlesmeBedeli"
              [(ngModel)]="model.sozlesmeBedeli"
              name="sozlesmeBedeli"
              #name="ngModel"
            />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Lisans Başlangıç Tarihi</label>
          <div class="controls">
            <input
              [readonly]="true"
              class="form-control"
              type="date"
              id="lisansBaslangicTarihi"
              [(ngModel)]="model.lisansBaslangicTarihi"
              name="lisansBaslangicTarihi"
              #name="ngModel"
            />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Lisans Bitiş Tarihi</label>
          <div class="controls">
            <input
              [readonly]="true"
              class="form-control"
              type="date"
              id="lisansBitisTarihi"
              [(ngModel)]="model.lisansBitisTarihi"
              name="lisansBitisTarihi"
              #name="ngModel"
            />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Garanti Süresi</label>
          <div class="controls">
            <input
              [readonly]="true"
              class="form-control"
              type="text"
              id="garantiSuresi"
              [(ngModel)]="model.garantiSuresi"
              name="garantiSuresi"
              #name="ngModel"
            />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Teslim Süresi</label>
          <div class="controls">
            <input
              [readonly]="true"
              class="form-control"
              type="text"
              id="teslimSuresi"
              [(ngModel)]="model.teslimSuresi"
              name="teslimSuresi"
              #name="ngModel"
            />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Voucher</label>
          <div class="controls">
            <input
              [readonly]="true"
              class="form-control"
              type="text"
              id="voucher"
              [(ngModel)]="model.voucher"
              name="voucher"
              #name="ngModel"
            />
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Yorum</label>
        <div class="controls">
          <textarea
            id="hukukYorum"
            [(ngModel)]="model.hukukYorum"
            name="hukukYorum"
            #name="ngModel"
          ></textarea>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <input style="display: none;" type="text" id="sozlesmeNo" />
        </div>
      </div>
      <div class="field">
        <button
          type="submit"
          class="ui button"
          [disabled]="!talepForm.form.valid"
        >
          Tamamla
        </button>
        <button
          type="submit"
          class="ui button"
          [disabled]="!talepForm.form.valid"
          (click)="model.hukukOnay = 'Red'"
        >
          Reddet
        </button>
      </div>
    </form>
  </div>
</div>
