<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Satınalma Onayı</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <div [hidden]="submitted">
        <form (ngSubmit)="onSubmit()" #talepForm="ngForm" class="example-form">
          <div class="col-md-12">
            <a mat-button (click)="openDocument()">Sözleşme Dökümanı</a>
          </div>
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <mat-label>Şablon</mat-label>
              <input
                matInput
                [disabled]="true"
                type="text"
                [(ngModel)]="model.sablon"
                name="sablon"
                #name="ngModel"
              />
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <mat-label>Turkcell Grup Şirketi</mat-label>
              <input
                matInput
                [disabled]="true"
                type="text"
                [(ngModel)]="model.grupSirketi"
                name="grupSirketi"
                #name="ngModel"
              />
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <mat-label>Karşı taraf ünvanı</mat-label>
              <input
                matInput
                [disabled]="true"
                type="text"
                [(ngModel)]="model.karsiTarafUnvani"
                name="karsiTarafUnvani"
                #name="ngModel"
              />
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <mat-label>Sözleşme Başlangıç Tarihi</mat-label>
              <input
                matInput
                [disabled]="true"
                type="text"
                [(ngModel)]="model.sozlesmeBaslangicTarihi"
                name="sozlesmeBaslangicTarihi"
                #name="ngModel"
              />
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <mat-label>Sözleşme Bitiş Tarihi</mat-label>
              <input
                matInput
                [disabled]="true"
                type="text"
                [(ngModel)]="model.sozlesmeBitisTarihi"
                name="sozlesmeBitisTarihi"
                #name="ngModel"
              />
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <mat-label>Bedelli</mat-label>
              <input
                matInput
                [disabled]="true"
                type="text"
                [(ngModel)]="model.bedelli"
                name="bedelli"
                #name="ngModel"
              />
            </mat-form-field>
          </div>
          <div *ngIf="model.bedelli == 'Evet'">
            <div class="col-md-12">
              <mat-form-field class="full-width">
                <mat-label>Sözleşme Bedeli</mat-label>
                <input
                  matInput
                  [disabled]="true"
                  type="text"
                  [(ngModel)]="model.sozlesmeBedeli"
                  name="sozlesmeBedeli"
                  #name="ngModel"
                />
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="full-width">
                <mat-label>Lisans Başlangıç Tarihi</mat-label>
                <input
                  matInput
                  [disabled]="true"
                  type="text"
                  [(ngModel)]="model.lisansBaslangicTarihi"
                  name="lisansBaslangicTarihi"
                  #name="ngModel"
                />
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="full-width">
                <mat-label>Lisans Bitiş Tarihi</mat-label>
                <input
                  matInput
                  [disabled]="true"
                  type="text"
                  [(ngModel)]="model.lisansBitisTarihi"
                  name="lisansBitisTarihi"
                  #name="ngModel"
                />
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="full-width">
                <mat-label>Garanti Süresi</mat-label>
                <input
                  matInput
                  [disabled]="true"
                  type="text"
                  [(ngModel)]="model.garantiSuresi"
                  name="garantiSuresi"
                  #name="ngModel"
                />
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="full-width">
                <mat-label>Teslim Süresi</mat-label>
                <input
                  matInput
                  [disabled]="true"
                  type="text"
                  [(ngModel)]="model.teslimSuresi"
                  name="teslimSuresi"
                  #name="ngModel"
                />
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="full-width">
                <mat-label>Voucher</mat-label>
                <input
                  matInput
                  [disabled]="true"
                  type="text"
                  [(ngModel)]="model.voucher"
                  name="voucher"
                  #name="ngModel"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <mat-label>Yorum</mat-label>
              <textarea
                matInput
                [(ngModel)]="model.satinalmaYorum"
                name="satinalmaYorum"
                #name="ngModel"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <div class="controls">
              <input style="display: none;" type="text" id="sozlesmeNo" />
            </div>
          </div>
          <div class="col-md-12">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!talepForm.form.valid"
            >
              Tamamla
            </button>
            <button
              mat-raised-button
              color="warn"
              type="submit"
              [disabled]="!talepForm.form.valid"
              (click)="model.satinalmaOnay = 'Red'"
            >
              Reddet
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
