<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Talep Bilgileri</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <div [hidden]="submitted">
        <form (ngSubmit)="onSubmit()" #talepForm="ngForm" class="example-form">
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <mat-label>Şablon</mat-label>
              <mat-select name="sablon" [(ngModel)]="model.sablon" required>
                <mat-option *ngFor="let c of sablonlar" [value]="c.name">{{
                  c.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <mat-label>Turkcell Grup Şirketi</mat-label>
              <mat-select
                name="grupSirketi"
                [(ngModel)]="model.grupSirketi"
                required
              >
                <mat-option *ngFor="let c of grupSirketleri" [value]="c.name">{{
                  c.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <mat-label>Karşı taraf ünvanı</mat-label>
              <mat-select
                name="karsiTarafUnvani"
                [(ngModel)]="model.karsiTarafUnvani"
                required
              >
                <mat-option
                  *ngFor="let c of karsiTarafUnvanlari"
                  [value]="c.name"
                  >{{ c.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <mat-label>Sözleşme Başlangıç Tarihi</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                [(ngModel)]="model.sozlesmeBaslangicTarihi"
                name="sozlesmeBaslangicTarihi"
                #name="ngModel"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <mat-label>Sözleşme Bitiş Tarihi</mat-label>
              <input
                matInput
                [matDatepicker]="picker1"
                [(ngModel)]="model.sozlesmeBitisTarihi"
                name="sozlesmeBitisTarihi"
                #name="ngModel"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-radio-group
              name="bedelli"
              aria-label="Bedelli"
              [(ngModel)]="model.bedelli"
            >
            <span style="margin-right:2%;">Bedelli:</span>
              <mat-radio-button
                *ngFor="let option of bedelliSecenekleri"
                [value]="option.value"
                >{{ option.id }}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div *ngIf="model.bedelli == 'Evet'">
            <div class="col-md-12">
              <mat-form-field class="full-width">
                <mat-label>Sözleşme Bedeli</mat-label>
                <input
                  matInput
                  type="number"
                  min="0"
                  id="sozlesmeBedeli"
                  [(ngModel)]="model.sozlesmeBedeli"
                  name="sozlesmeBedeli"
                  #name="ngModel"
                />
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="full-width">
                <mat-label>Lisans Başlangıç Tarihi</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker2"
                  [(ngModel)]="model.lisansBaslangicTarihi"
                  name="lisansBaslangicTarihi"
                  #name="ngModel"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker2"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="full-width">
                <mat-label>Lisans Bitiş Tarihi</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker3"
                  [(ngModel)]="model.lisansBitisTarihi"
                  name="lisansBitisTarihi"
                  #name="ngModel"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker3"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="full-width">
                <mat-label>Garanti Süresi</mat-label>
                <input
                  matInput
                  type="text"
                  id="garantiSuresi"
                  [(ngModel)]="model.garantiSuresi"
                  name="garantiSuresi"
                  #name="ngModel"
                />
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="full-width">
                <mat-label>Teslim Süresi</mat-label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="model.teslimSuresi"
                  name="teslimSuresi"
                  #name="ngModel"
                />
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="full-width">
                <mat-label>Voucher</mat-label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="model.voucher"
                  name="voucher"
                  #name="ngModel"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <input style="display: none;" type="text" id="sozlesmeNo" />
            </div>
          </div>
          <div class="col-md-12">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              style="margin:5px"
              [disabled]="!talepForm.form.valid"
            >
              Tamamla
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
